html,
body {
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
  /* font-family: cursive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  ; */
  font-family: cursive, sans-serif;
}

#__next {
  overflow: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
